body {
  background: url('wild_flowers.png');
  font-size: 14pt;
  justify-content: center;
}

.center {
  display: inline-flex;
  width: 100vw;
  margin: auto;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 500%;
  margin: -8px;
  background-color: #283593;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(3, 300px);
  grid-template-columns: repeat(3, 300px);
}

.hide {
  display: none;
}

.board-container {
  width: 100vw;
  margin: auto;
  display: inline;
}

.player, .winner-screen {
  font-family: 'Satisfy', cursive;
  width: 500px;
  text-align: center;
  padding: 20px;
  color: #283593;
  margin: auto;
}

.player {
  font-size: 150%;
}

.winner-screen {
  font-size: 300%;
}

.current-player {
  font-family: 'Satisfy', cursive;
  font-size: 150%;
  width: 300px;
  text-align: center;
  padding: 20px;
  color: #283593;
  margin: auto;
}

.sidebar {
  margin-left: 50px;
}

.game-board {
  border: 5px solid #283593;;
  margin: auto;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.board-piece {
  border: 5px solid #283593;;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  background-image: var(--image);
  background-size: contain;
  background-repeat: no-repeat;
}

.box-shadow {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.input {
  font: 16px arial,sans-serif;
  width: 200px !important;
  color: black !important;
  opacity: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #283593;
  background-color: inherit;
  padding: 10px;
}

.player label {
  color: #283593;
  font-size: 150%;
}

.player input[type=text]:focus {
  box-shadow: 0 3px 0 0 #000;
  border: none;
}

button {
  background-color: #283593;
  border: none;
  color: white;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Satisfy', cursive;
  border-radius: 3px;
}

.submit-btn {
  font-size: 20px;
  margin: 20px;
}

.sidebar-btn {
  font-size: 20px;
}


#start {
  height: 100px;
  width: 200px;
  font-size: 300%;
  margin: auto;
  margin-top: 15vh;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hide {
  display: none;
}

.screen-header {
  font-size: 175%;
  margin-bottom: -30px;
}
