.game-board {
  display: grid;
  grid-template-rows: repeat(3, 300px);
  grid-template-columns: repeat(3, 300px);
}

.hide {
  display: none;
}

.player-info {
  font-family: 'Satisfy', cursive;
  background-color: #b2dfdb;
  border: 15px solid #283593;
  border-radius: 10px;
  font-size: 150%;
  width: 500px;
  text-align: center;
  padding: 20px;
  color: #283593;
  margin: auto;
}

.players {
  width: 200px;
  margin: auto;
}

.player {
  font-family: 'Satisfy', cursive;
  background-color: #b2dfdb;
  border: 15px solid #283593;
  border-radius: 10px;
  font-size: 150%;
  width: 100px;
  text-align: center;
  padding: 20px;
  color: #283593;
}

.game-board {
  border: 5px solid green;
  margin: auto;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.board-piece {
  border: 5px solid green;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}


.input {
  font: 16px arial,sans-serif;
  width: 200px !important;
  color: black !important;
  opacity: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #283593;
  background-color: inherit;
  padding: 10px;
}

.input-field label {
  color: #283593;
  font-size: 150%;
}

.input-field input[type=text]:focus {
  box-shadow: 0 3px 0 0 #000;
  border: none;
}

button {
  background-color: #283593; /* Green */
  border: none;
  color: white;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Satisfy', cursive;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hide {
  display: none;
}
